@import 'modern-normalize/modern-normalize.css';
@import 'primeicons/primeicons.css';
@import './variables.css';

body {
  font-family: var(--font-family-base);
  background-color: var(--color-background);
  color: var(--color-text-body);
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  color: var(--color-text-heading);
  font-weight: 600;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: var(--transition-fast);
}

a:hover {
  color: var(--color-accent-hover);
}
